<div class="container default-theme my-theme" [ngStyle]="themingService.myCustomTheme">

  <div class="card">
    <div class="card-header default-theme my-theme" [ngStyle]="themingService.myCustomTheme">
      Add new product
    </div>

    <h1 class="hidden">Add new Product</h1>

    <div class="card-body">

      <app-message></app-message>
      <app-message></app-message>






      <form class="mat-dialog-content" (ngSubmit)="submit()" #formControl="ngForm">

        <div class="md-form">
          <mdb-form-field color="accent">
            <label for="code">Code</label>
            <input id="code" [disabled]="isCodeReadOnly" #input type="text" class="form-control"
                   placeholder="Code" [(ngModel)]="product.code"
                   name="code" pattern="[0-9]*" #code="ngModel">
            <div [hidden]="code.valid || code.pristine"
                 class="alert alert-danger" role="alert">
              Code is required
            </div>
          </mdb-form-field>
        </div>

        <!--Textarea for demo purposes-->
        <div class="md-form">
          <mdb-form-field color="accent">
            <label for="name">Product name</label>
            <input id="name" type="text" #input class="form-control" placeholder="Name" [(ngModel)]="product.name"
                   name="name" #productName="ngModel" required>

            <div [hidden]="productName.valid || productName.pristine"
                 class="alert alert-danger" role="alert">
              Product name is required
            </div>

          </mdb-form-field>
        </div>

        <!--Contains mat-hint for characters count and has maxLengt set-->
        <div class="md-form">
          <mdb-form-field color="accent">
            <label for="category">Category</label>

            <input type="text" id="category" #input class="form-control" placeholder="Category"
                   [(ngModel)]="product.category" name="category" #category="ngModel"required>
            <div [hidden]="category.valid || category.pristine"
                 class="alert alert-danger" role="alert">
              Category is required
            </div>
          </mdb-form-field>
        </div>

        <div class="md-form">
          <mdb-form-field color="accent">
            <label for="quantity">Quantity</label>

            <input id="quantity" #input type="text" placeholder="Quantity" [(ngModel)]="product.quantity"
                   name="quantity" pattern="[0-9]*" class="form-control" #quantity="ngModel" required>
            <div [hidden]="quantity.valid || quantity.pristine"
                 class="alert alert-danger" role="alert">
              Quantity is required
            </div>
          </mdb-form-field>
        </div>

        <div class="md-form">
          <mdb-form-field color="accent">
            <mat-select [(ngModel)]="product.unit" name="unit" placeholder="Unit" required>
              <mat-option *ngFor="let unit of units" [value]=unit>
                {{unit}}
              </mat-option>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-select>
          </mdb-form-field>
        </div>

        <div class="btn-group btn-group-sm d-flex flex-row-reverse">
          <button  type="button" class="btn px-5 px-3 ml-4 mt-4 default-theme my-theme"
                   [ngStyle]="themingService.myCustomTheme"
                   (click)="onSave()" aria-label="Save"  [disabled]="!formControl.valid || isCodeInvalid(product.code)">Save</button>
          <button type="button" class="btn px-5 py-3 ml-4 mt-4 default-theme my-theme"
                  [ngStyle]="themingService.myCustomTheme"
                  (click)="goBack()" aria-label="Back">Back</button>
        </div>

      </form>
    </div>

  </div>
</div>
