@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

$blue-color: #034768;
$container-color: #f4f4fa;

::ng-deep .mat-tooltip {
  font-size: 50px;
}

.container {
  margin-top:7%;
}

.card-header {
  font-size: 150%;
  text-align: center;
  background-color: $blue-color;
  color: white;
}


.clear{
  color: black;
  background-color: white;
  border: none;
}

html,
body{
  height: 100%;
}

// You can add global styles to this file, and also import other style files
label {
  display: none;
}

// /deep/ is a workaround to customize mat-tooltip style
/deep/ .mat-tooltip {
  font-size: 90%;
}

button{
  background-color: $blue-color;
}


.customerBackground{
  background: url('/assets/images/customer.jpg') no-repeat center center ;
}

.restaurantBackground{
  background: url('/assets/images/restaurant.jpg') no-repeat center center ;
}

.pantryBackground{
  background: url('/assets/images/pantry.jpg') no-repeat center center;
}




@media print {
  app-header, app-footer, button, .btn-group-btn-group-sm {
    display: none;
  }
}


