@import '~@angular/material/prebuilt-themes/indigo-pink.css';

// import our custom theme

@import 'app/custom-theme/theme';

$default-background-color: #034768;
$container-color: #f4f4fa;

$dark-background-color: #034768;
$black-background-color: black;
$medium-background-color: #046B99;
$bright-background-color: #00CFFF;
$light-background-color: #B3EFFF;
$white-background-color: white;
$black-font-color: black;
$white-font-color: white;

::ng-deep .mat-tooltip {
  font-size: 50px;
}

.container {
  margin-top:7%;
}

.clear{
  /*
  color: black;
  background-color: white;
  */
  border: none;
}

.card-header {
  text-align: center;
}

.hidden {
  display: none;
}

html,
body{
  height: 100%;
}

// You can add global styles to this file, and also import other style files
label {
  display: none;
}

h1 {
  font-size: 145%;
}

h2 {
  font-size: 130%;
}

input {
  margin-bottom: 2%;
}

// /deep/ is a workaround to customize mat-tooltip style
/deep/ .mat-tooltip {
  font-size: 90%;
}


.customerBackground{
  background: url('/assets/images/customer.jpg') no-repeat center center ;
}

.restaurantBackground{
  background: url('/assets/images/restaurant.jpg') no-repeat center center ;
}

.pantryBackground{
  background: url('/assets/images/pantry.jpg') no-repeat center center;
}

.btn-default-theme {

  background-color: $dark-background-color;
  color: $white-font-color;
}

.btn-black-theme {
  background-color: $black-background-color;
  color: $white-font-color;
}

.btn-medium-theme {
  background-color: $medium-background-color;
  color: $white-font-color;
}

.btn-bright-theme {
  background-color: $bright-background-color;
  color: $black-font-color;
}

.btn-light-theme {
  background-color: $light-background-color;
  color: $black-font-color;
}

.btn-white-theme {
  background-color: $white-background-color;
  color: $black-font-color;
}


.nav-link:focus, a:focus {
  border:1px solid $light-background-color;
  box-shadow: 0 0 10px #719ECE;
}

.contrast::placeholder, .black-placeholder, .black-placeholder::placeholder{
    color: black;
    opacity: 1; /* Firefox */
}

mat-select {
  border : 1px solid lightgrey;
  padding: 1.5%;
}

::ng-deep.mat-select-black-placeholder{
  color: black;
}

.mat-header-cell-black{
  color: black;
}

.mat-select-black{
  border: 1px solid black;
}

@media print {
  app-header, app-footer, button, .btn-group-btn-group-sm {
    display: none;
  }
}
