<div class="container">
  <div  class="alert alert-danger" role="alert" [hidden]="!messageService.error">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{messageService.error}}
  </div>

  <div  class="alert alert-success" role="alert" [hidden]="!messageService.success || messageService.error">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{messageService.success}}
  </div>
</div>
