# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
client/dist
client/tmp
client/out-tsc
server/package-lock.json

# dependencies
server/node_modules
client/node_modules
server/bin

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
client/.sass-cache
*/connect.lock
client/coverage
client/libpeerconnection.log
npm-debug.log
testem.log
*/typings

# e2e
*/e2e/*.js
*/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# Config and env files
server/config/database.js

#SASS and SCSS
# client/.sass-cache/
*.css.map
*.sass.map
*.scss.map
