@import '../../styles.scss';

.sidenav {
  height: 100%;
  width: inherit;
  background-color: $container-color;
  padding: inherit;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav > *{
  transition: 1s;
}

caption {
  caption-side: top;
}

table{
  width: 100%;
}

mdb-form-field{
  border:none;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

