<button type="button" (click)="goToMenu()" >&#x2715;</button>

<table summary="The variations you can select for lunch">
  <caption>Please choose what variations you need for lunch</caption>
  <tr>
    <th></th>
    <th scope="col">Intolerance</th>
    <th scope="col">Allergy</th>
  </tr>

  <tr *ngFor="let v of variation">
    <td scope="row">{{v}}</td>
    <td>
      <label for="Int">{{v}} Intollerance</label>
      <input id="Int" type="number" min="0" >
    </td>
    <td>
      <label for="All">{{v}} Allergy</label>
      <input id="All" type="number" min="0">
    </td>
  </tr>


</table>




