<div class="card mat-elevation-z20 mx-auto d-block sidenav">

  <div class="card-body">

    <div id="mySidenav">

      <div class="default-theme">
        <button type="button" class="closebtn btn btn-sm mb-2 default-theme my-theme"
                [ngStyle]="themingService.myCustomTheme"
                (click)="goToMenu()">
          <i class="fa fa-times fa-2x" aria-label="delete dish"></i>
          <p class="hidden">Close</p></button>
      </div>

      <div id="container">

        <table summary="The variations you can select for lunch">
          <caption class="text-center">Please choose what variations you need</caption>
          <tr>
            <th scope="col">Type
            </th>
            <th scope="col" class="pl-2">Intolerance
            </th>
            <th scope="col" class="pl-3 pr-4">Allergy
            </th>
          </tr>

          <tr *ngFor="let v of variations">
            <td scope="row">{{v}}</td>
            <td>
              <mdb-form-field class="form-control accent">
                <mat-select placeholder="{{getVariations(intollerance, v)}}">
                  <mat-option *ngFor="let n of people" [value]=n (click)="setVariation(v, intollerance, n)">
                    {{n}}
                  </mat-option>
                </mat-select>
              </mdb-form-field>
            </td>

            <td>
              <mdb-form-field class="form-control accent">
                <mat-select placeholder="{{getVariations(allergy, v)}}">
                  <mat-option *ngFor="let n of people" [value]=n (click)="setVariation(v, allergy, n)">
                    {{n}}
                  </mat-option>
                </mat-select>
              </mdb-form-field>
            </td>
          </tr>

        </table>

      </div>

    </div>

  </div>

</div>

