@import '../../../styles.scss';

.form {
    display: flex;
    padding-top: 6px;
}

.mat-form-field {
    font-size: 16px;
    flex-grow: 1;
}

.btn-group-btn-group-sm{
  float: right;
}

#otherNeeds{
  margin-top: 1%;
}
