@import '../../../styles.scss';

.container {
    display: flex;
    flex-direction: column;
    min-width: 450px;
  padding: 2%;
  background-color: $div-color;
}

.container > * {
    width: 100%;
}

.form {
    display: flex;
    padding-top: 6px;
}

.mat-form-field {
    font-size: 16px;
    flex-grow: 1;
}

