<div class="container default-theme my-theme" [ngStyle]="themingService.myCustomTheme" >

  <div class="card " >
    <div class="card-header default-theme my-theme" [ngStyle]="themingService.myCustomTheme">
      {{customer.bookingSurname}} {{customer.bookingName}}
    </div>
    <div class="card-body" >

      <app-message></app-message>

      <div [hidden]="submitted || error">

        <form #detailCustomerForm="ngForm">
          <div class="md-form">
            <mdb-form-field color="accent">

              <label for="bookingName">Booking name</label>

              <input [disabled]="!canUserEdit" type="text" class="form-control" id="bookingName"
                     placeholder="Booking name"
                     required
                     [(ngModel)]="customer.bookingName" name="bookingName" #bookingName="ngModel">
              <div [hidden]="bookingName.valid || bookingName.pristine"
                   class="alert alert-danger">
                Booking Name is required
              </div>

            </mdb-form-field>
          </div>

          <div class="md-form">
            <md-form-field color="accent">
              <label for="bookingSurname">Booking Surname</label>

              <input [disabled]="!canUserEdit" type="text" class="form-control" id="bookingSurname"
                     placeholder="Booking surname"
                     required
                     [(ngModel)]="customer.bookingSurname" name="bookingSurname" #bookingSurname="ngModel">
              <div [hidden]="bookingSurname.valid || bookingSurname.pristine"
                   class="alert alert-danger">
                Booking Surname is required
              </div>
            </md-form-field>
          </div>

          <div class="md-form">
            <mdb-form-field color="accent">
              <label for="numberOfPeople">People in the room</label>

              <input [disabled]="!canUserEdit" type="text" class="form-control" id="numberOfPeople"
                     placeholder="Number of people in the room"
                     required
                     [(ngModel)]="customer.numberOfPeople" name="numberOfPeople" #numberOfPeople="ngModel">
              <div [hidden]="numberOfPeople.valid || numberOfPeople.pristine"
                   class="alert alert-danger">
                Number of people is required
              </div>
            </mdb-form-field>
          </div>

          <div>
            Other needs:
            <mat-list>
              <mat-list-item *ngFor="let need of customerNeeds">
                <button mat-button type="button" (click)="deleteNeedAndUpdate(need)"><span
                  class="material-icons">clear</span></button>
                {{need}}
              </mat-list-item>
            </mat-list>
          </div>

          <div class="md-form d-flex">
            <mdb-form-field color="accent" class="p-2 flex-grow-1 bd-highlight"  (keyup.enter)="addNeedAndUpdate()">
              <label for="otherNeeds">Other needs</label>

              <input #input type="text" id='otherNeeds' name="need" class="form-control" [(ngModel)]="need"
                     placeholder="Other needs (p.e. disability types, number of children and/or pets, if present)"/>
            </mdb-form-field>
            <button mat-button type="button" class="p-2 bd-highlight" (click)="addNeedAndUpdate()" [disabled]="isInputInvalid(need)">
              <span class="material-icons">add</span>
            </button>
          </div>

          <div class="btn-group btn-group-sm d-flex flex-row-reverse">
            <button  type="button" class="btn px-5 py-3 ml-4 mt-4 default-theme my-theme"
                     [ngStyle]="themingService.myCustomTheme"
                     aria-label="Save" (click)="updateAndGoBack()"
                     [disabled]="!detailCustomerForm.form.valid">Save</button>
            <button type="button" class="btn px-5 py-3 ml-4 mt-4 default-theme my-theme"
                    [ngStyle]="themingService.myCustomTheme"
                    (click)="goBack()" aria-label="Back">Back</button>
          </div>

          <!--
                  <button class="btn-group-btn-group-sm" mat-button (click)="delete()">Delete</button>
          -->
        </form>

      </div>
    </div>
    <!--
    <div [hidden]="!submitted">
      <p>{{message}}</p>
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
      </div>
    </div>
    -->
  </div>
</div>

