<div *ngIf="customer">
  <h2>Room {{customer.roomNumber}} Details</h2>
  <div><span>Room Number: </span>{{customer.roomNumber}}</div>
  <form #customerDetails="ngForm" (ngSubmit)="updateCustomer()">
    <label>Booking Name:
      <input [(ngModel)]="customer.bookingName" name="bookingName" placeholder="Booking Name"/>
    </label>
    <br/>
    <label>Booking Surname:
      <input [(ngModel)]="customer.bookingSurname" name="bookingSurname" placeholder="Booking Surname"/>
    </label>
    <br/>
    <label>Username:
      <input [(ngModel)]="customer.username" placeholder="Username" name="username" />
    </label>
    <br/>
    <div><span>Number of people in the room: </span>{{customer.numberOfPeople}}</div>

    <div>
      <label>Other needs:
        <ul class="otherNeeds">
          <li *ngFor="let need of customerNeeds">{{need}}</li>
<!--
          <button type="button" class="delete" title="delete need"
                  (click)="deleteNeed(need)">x</button>
-->
        </ul>


        <input name="need" [(ngModel)]="need" />
      </label>
      <button type="button" (click)="addNeed(need)">
          add
      </button>
    </div>

    <button type="button" (click)="goBack()">Back</button>
    <button type="submit">Save</button>
    <button type="button" (click)="logOut()">Log out</button>

  </form>
</div>
