<div class="card mat-elevation-z20 mx-auto d-block sidenav" >

  <div class="card-body">

    <div id="mySidenav">

      <button type="button" class="closebtn btn btn-sm mt-3 mb-4" (click)="closeSidebar()">
        <i class="fa fa-times fa-2x" aria-label="close sidebar"></i> </button>

      <div id="container">

        <h4 class="mb-3">Text and keyboard</h4>

        Text size
        <div class="mb-3">
          <mdb-form-field color="accent">

            <button type="button" class="btn btn-sm" (click)="setSmallFont()">Small</button>
            <button type="button" class="btn btn-sm" (click)="setMediumFont()">Medium</button>
            <button type="button" class="btn btn-sm" (click)="setLargeFont()">Large</button>

          </mdb-form-field>


          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn blue-radio active mr-4 mt-2">
              <input type="radio" name="options" id="option1" autocomplete="off" checked> Small
            </label>
            <label class="btn blue-radio mr-4 mt-2">
              <input type="radio" name="options" id="option2" autocomplete="off"> Medium
            </label>
            <label class="btn blue-radio mr-4 mt-2">
              <input type="radio" name="options" id="option3" autocomplete="off"> Large
            </label>
          </div>


        </div>

        <div class="mb-3">
          <div class="row">
            <legend class="col-form-label px-3 pt-0">Form input border</legend>
            <div class="col-sm-10">

              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2"
                       checked>
                <label class="form-check-label" for="gridRadios2">

                  <div class="md-form">
                    <input #input type="text" class="form-control" id="inputWithoutBorder"
                           placeholder="Input without border"
                           name="inputWithoutBorder">
                  </div>

                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                <label class="form-check-label" for="gridRadios1">
                  <input #input type="text" class="form-control border border-primary " id="inputWithBorder"
                         placeholder="Input with border" name="inputWithBorder">
                </label>
              </div>
            </div>
          </div>

        </div>

        <div class="mb-5">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked">Keyboard visual focus</label>
          </div>
        </div>

      </div>

      <h4 class="mb-3">Themes and background</h4>

      Color theme
      <div class="btn-group">
        <button type="button" class="btn rounded-circle px-3 py-3  mr-4 mt-2 btn-black-theme">Aa</button>
        <button type="button" class="btn rounded-circle px-3 py-3  mr-4 mt-2 btn-default-theme">Aa</button>
        <button type="button" class="btn rounded-circle px-3 py-3  mr-4 mt-2 btn-medium-theme">Aa</button>
        <button type="button" class="btn rounded-circle px-3 py-3  mr-4 mt-2 btn-bright-theme">Aa</button>
        <button type="button" class="btn rounded-circle px-3 py-3  mr-4 mt-2 btn-light-theme">Aa</button>
        <button type="button" class="btn rounded-circle px-3 py-3  mr-4 mt-2 btn-white-theme">Aa</button>
      </div>


      <div class="mt-3 mb-3">
        <mdb-form-field color="accent">
          <label for="colorContrast">Color contrast</label>
          <input #input type="range" class="custom-range rangeInput mt-3" id="colorContrast"
                 name="colorContrast">
        </mdb-form-field>
      </div>

      <div class="mb-3">
        <fieldset class="form-group">
          <!--
                        <legend class="col-form-label px-3 pt-0">Background images</legend>
          -->
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="backgroundImages">
            <label class="custom-control-label" for="backgroundImages">Background images</label>
          </div>
        </fieldset>
      </div>

    </div>
  </div>

</div>

