@import '../../styles.scss';

label {
  display: initial;
}

.container {
  font-size: 150%;
}


button{
  text-transform: capitalize;
  font-size: 90%;
  font-weight: bold;
}

.rangeInput{
  width: 40%;
}

.sidenav {
  height: 100%;
  width: inherit;
  background-color: $container-color;
  padding: inherit;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav > *{
  transition: 1s;
}

caption {
  caption-side: top;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
