<div class="container">
  <h3 mat-dialog-title>You are deleting {{data.bookingName}} {{data.bookingSurname}}, are you sure?</h3>
  <div mat-dialog-content>

    <p>Name: {{data.bookingName}}</p>
    <p>Surname: {{data.bookingSurname}}</p>
    <p>Room number: {{data.roomNumber}}</p>

  </div>

  <div class="btn-group btn-group-sm d-flex flex-row-reverse">
    <button class="btn px-5 py-3 ml-4 mt-4 default-theme my-theme"[mat-dialog-close]="1"
            [ngStyle]="themingService.myCustomTheme"
            (click)="confirmDelete()">Delete</button>
    <button class="btn px-5 px-3 ml-4 mt-4 default-theme my-theme" (click)="onNoClick()"
            [ngStyle]="themingService.myCustomTheme"
            tabindex="-1">Cancel</button>
  </div>



</div>
