<!--
<p>
  Via Alfredo Panzini, 217 - 47814 Bellaria (RN)
  -
  Italy - Tel. +39 0541 346769 - Fax. +39 0371 948105
  -
  info@sanbassiano.it
</p>

-->

<footer class="page-footer text-center text-md-left blue-grey lighten-5 pt-0">

  <div id="footerDiv" >
    <div class="container">
      <!--Grid row-->
      <div class="row py-4 d-flex align-items-center justify-content-center">

        <!--Grid column-->
        <div class="col-12 col-md-5 text-left  mb-md-0">
          <h6 class="mb-0 white-text text-center text-md-left">
            <strong>Get connected with us on social networks!</strong>
          </h6>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-12 col-md-7 text-center text-md-right">
          <!--Facebook-->
          <a class="p-2 m-2 fa-lg fb-ic ml-0">
            <i class="fa fa-facebook white-text mr-lg-4"> </i>
          </a>
          <!--Twitter-->
          <a class="p-2 m-2 fa-lg tw-ic">
            <i class="fa fa-twitter white-text mr-lg-4"> </i>
          </a>
          <!--Google +-->
          <a class="p-2 m-2 fa-lg gplus-ic">
            <i class="fa fa-google-plus white-text mr-lg-4"> </i>
          </a>
          <!--Linkedin-->
          <a class="p-2 m-2 fa-lg li-ic">
            <i class="fa fa-linkedin white-text mr-lg-4"> </i>
          </a>
          <!--Instagram-->
          <a class="p-2 m-2 fa-lg ins-ic">
            <i class="fa fa-instagram white-text mr-lg-4"> </i>
          </a>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>
  </div>

  <!--Footer Links-->
  <div class="container mt-5 mb-4 text-center text-md-left">
    <div class="row mt-3">

      <!--First column-->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4 dark-grey-text">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Company name</strong>
        </h6>
        <hr class="cyan mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur
          adipisicing elit.</p>
      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 dark-grey-text">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Attractions</strong>
        </h6>
        <hr class="cyan mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!" class="dark-grey-text">Spa</a>
        </p>
        <p>
          <a href="#!" class="dark-grey-text">Restaurant</a>
        </p>
        <p>
          <a href="#!" class="dark-grey-text">Gym & pool</a>
        </p>
        <p>
          <a href="#!" class="dark-grey-text">Local travels</a>
        </p>
      </div>
      <!--/.Second column-->

      <!--Third column-->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 dark-grey-text">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Useful links</strong>
        </h6>
        <hr class="cyan mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!" class="dark-grey-text">Reservation</a>
        </p>
        <p>
          <a href="#!" class="dark-grey-text">Tourist attraction</a>
        </p>
        <p>
          <a href="#!" class="dark-grey-text">Hotel's menu</a>
        </p>
        <p>
          <a href="#!" class="dark-grey-text">Help</a>
        </p>
      </div>
      <!--/.Third column-->

      <!--Fourth column-->
      <div class="col-md-4 col-lg-3 col-xl-3 dark-grey-text">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Contact</strong>
        </h6>
        <hr class="cyan mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fa fa-home mr-3"></i>Via Alfredo Panzini 217</p>
        <p>
          47814 Bellaria (RN) - IT</p>
        <p>
          <i class="fa fa-envelope mr-3"></i>info@sanbassiano.it</p>
        <p>
          <i class="fa fa-phone mr-3"></i>+39 0541 346769</p>
        <p>
          <i class="fa fa-print mr-3"></i>+39 0371 948105</p>
      </div>
      <!--/.Fourth column-->
    </div>
  </div>
  <!--/.Footer Links-->
</footer>
