<div class="container">

  <app-error></app-error>
  <div class="card mat-elevation-z8" *ngIf="!errorService.error">

    <div class="card-header">
      {{product.name}}
    </div>


    <div class="card-body">
      <div id="backgroundDiv">
        <form class="mat-dialog-content" (ngSubmit)="submit()" #formControl="ngForm">

          <div class="form">
            <mat-form-field color="accent">
              <label for="code">Code</label>

              <input type="text" id="code" matInput #input pattern="[0-9]*" class="form-control" placeholder="Code" [(ngModel)]="product.code" name="code" required >
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>

          <!--Textarea for demo purposes-->
          <div class="form">
            <mat-form-field color="accent">
              <label for="name">Name</label>

              <input matInput id="name" #input class="form-control" placeholder="Name" [(ngModel)]="product.name" name="name" required>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>

          <!--Contains mat-hint for characters count and has maxLengt set-->
          <div class="form">
            <mat-form-field color="accent">
              <label for="category">Category</label>

              <input matInput id="category" #inputstate class="form-control" placeholder="Category" [(ngModel)]="product.category" name="category" required >
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
              <!--
                      <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
              -->
            </mat-form-field>
          </div>

          <div class="form">
            <mat-form-field color="accent">
              <label for="quantity">Quantity</label>

              <input matInput id="quantity" min="0" placeholder="Quantity" [(ngModel)]="product.quantity" name="quantity">
            </mat-form-field>
          </div>

          <div class="form">
            <mat-form-field color="accent">
              <mat-select [(ngModel)]="product.unit" name="unit" placeholder="Unit">
                <mat-option *ngFor="let unit of units" [value]=unit>
                  {{unit}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="btn-group btn-group-sm d-flex flex-row-reverse">
            <button [type]="submit" class="btn px-5 px-3 ml-4 mt-4" [disabled]="!formControl.valid || isCodeInvalid(product.code)" (click)="saveAndGoBack()">Save</button>
            <button (click)="goBack()" class="btn px-5 py-3 ml-4 mt-4" tabindex="-1">Back</button>
          </div>



        </form>
      </div>






    </div>
  </div>
</div>


