@import "../../styles.scss";

* {box-sizing:border-box}

.slides{
  padding: 5%;
  background-color: white;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  margin-top: 12%;
  padding: 2%; //16
  color: black;
  font-weight: bold;
  font-size: 112%;
  transition: 0.6s ease;
  border-radius: 0 18% 18% 0;
}

.prev {
  left: 0%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 18% 0 0 18%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: $dot-selected-color;
}


.planImage{
  background: no-repeat;
  width: 50%;
  background-size: contain;

}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 0.2%;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

#buttonDiv{
  padding-top: 2%;
  padding-bottom: 4%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: $dot-selected-color;
}

.active, .dot:hover {
  background-color: $dot-selected-color;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



#floor0, #floor1, #floor2 {
  border: 1px solid black;
  width: 50%;
  height: 60%;
  margin: 0 auto;
  padding: 0.1%;
  overflow: hidden;
}



#restaurant, #lounge, #reception, #coatroom, #entrance{
  border: 1px solid black;
  width: 40%;

  overflow: scroll;
  text-align: center;

}

#lounge, #coatroom{
  float: right;
}

#coatroom{
  top: 57%;
  right: 29%;
}

#floor1, #floor2{

}

.leftDiv, .rightDiv {
  float: left;
  width: 50%;

}

.leftDiv{
  padding-right: 7%;
}

.rightDiv{
  padding-left: 7%;
}

.leftDiv > div, .rightDiv > div {
  border: 1px solid black;
  width: 100%;

}






