<app-profile></app-profile>
<div class="slideShowContainer">

    <div class="slides" [hidden]="slidesBinding[0]">
        <div class="text" [innerHTML]="floor[0]"> </div>
        <img class="planImage" alt="Hotel plan" [src]="image[0]">
    </div>

    <div class="slides" [hidden]="slidesBinding[1]">
        <div class="text" [innerHTML]="floor[1]"></div>
        <img class="planImage" alt="Hotel plan" [src]="image[1]">
    </div>

    <div class="slides" [hidden]="slidesBinding[2]">
        <div class="text" [innerHTML]="floor[2]"></div>
        <img class="planImage" alt="Hotel plan" [src]="image[2]">
    </div>


    <!--<a class="top-left" href="/restaurant" >Restaurant</a>
    <div class="top-right">Lounge</div>
    <div class="centered-left">Reception</div>
    <div class="centered-right">Coatroom</div>
    <div class="bottom-center">Entrance</div>-->

    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>

    <div id="dot-div">
        <span class="dot" (click)="currentSlide(1)"></span>
        <span class="dot" (click)="currentSlide(2)"></span>
        <span class="dot" (click)="currentSlide(3)"></span>
    </div>
</div>





