<div class="w3-row">
  <div class="w3-col l2 m3 s4 w3-right">
    <app-profile></app-profile>
  </div>
</div>

<div class="w3-row">
  <div class="w3-col l12 m12 s12 w3-center">
    <div class="slideShowContainer">
      <div class="slides" [hidden]="slidesBinding[0]">
        <div class="text" [innerHTML]="floor[0]"> </div>
        <img class="planImage" alt="Hotel plan - first floor" [src]="image[0]">
        <a id="restaurant" href="/restaurant" >Restaurant</a>
        <div id="lounge">Lounge</div>
        <div id="reception">Reception</div>
        <div id="coatroom">Coatroom</div>
        <div id="entrance">Entrance</div>
      </div>

      <div class="slides" [hidden]="slidesBinding[1]">
        <div class="text" [innerHTML]="floor[1]"></div>
        <img class="planImage" alt="Hotel plan - second floor" [src]="image[1]">
      </div>

      <div class="slides" [hidden]="slidesBinding[2]">
        <div class="text" [innerHTML]="floor[2]"></div>
        <img class="planImage" alt="Hotel plan - third floor" [src]="image[2]">
      </div>
    </div>

    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>
  </div>
</div>

<div class="w3-row">
  <div class="w3-col l12 m12 s12 w3-center"><p></p>
    <span class="dot" (click)="currentSlide(1)"></span>
    <span class="dot" (click)="currentSlide(2)"></span>
    <span class="dot" (click)="currentSlide(3)"></span>
  </div>
</div>






