@import "../../styles.scss";

* {box-sizing:border-box}

.slides{
  margin-top: 3%;
  padding: 5%;
  background-color: white;

}

.rating {
  list-style-type: none;
  padding: 0;
  color: #ffa000;
}

.rating li {
  display: inline;
}

html,
body,
header,
.jarallax {
  height: 75vh;
}

html,
body,
header,
.intro-2 {
  height: 750px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%------' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%------' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators li {
  background-color: darkslategrey;
}

.card {
  margin: 5%;
}

#floor0, #floor1, #floor2 {
  border: 1px solid black;
  width: 50%;
  height: 60%;
  margin: 0 auto;
  padding: 0.1%;
  overflow: hidden;
}



#restaurant, #lounge, #reception, #coatroom, #entrance{
  border: 1px solid black;
  width: 40%;

  overflow: scroll;
  text-align: center;

}

#lounge, #coatroom{
  float: right;
}

#coatroom{
  top: 57%;
  right: 29%;
}


.leftDiv, .rightDiv {
  float: left;
  width: 50%;

}

.leftDiv{
  padding-right: 7%;
}

.rightDiv{
  padding-left: 7%;
}

.leftDiv > div, .rightDiv > div {
  border: 1px solid black;
  width: 100%;

}

@media (max-width: 414px) {

  .prev, .next{
    margin-top: 40%;
  }

  #floor0{
    width: 70%;
  }
}


@media (min-width : 375px) and (max-width : 414px){

}

@media (min-width : 1112px) and (max-width : 1920px) {


  #floor0{
    width: 50%;
  }

  #restaurant, #lounge, #reception, #coatroom, #entrance {
    height: 80px;
  }

  .leftDiv > div, .rightDiv > div {
    height: 80px;
  }
}






