#homeHeader,
#intro{
  height: 100%;
}

#intro {
  background: url("../../assets/images/casa-per-ferie-san-bassiano.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.top-nav-collapse {
  background-color: #24355C;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #24355C;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #24355C;
  }
}


//-------------------home css
@import "../../styles.scss";

* {box-sizing:border-box}

.slides{
  margin-top: 3%;
  padding: 5%;
  background-color: white;
}

.blue-button {
  background-color: $blue-color;
}

#titleDiv {
  width: 50%;
  background-color: white;
}


.carousel-caption {
  color: black;
}

.carousel-item {
  padding-bottom: 10%;
}

.rating li {
  display: inline;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%------' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%------' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators li {
  background-color: darkslategrey;
}

.card {
  margin: 5%;
}

#floor0, #floor1, #floor2 {
  border: 1px solid black;
  width: 50%;
  height: 60%;
  margin: 0 auto;
  padding: 0.1%;
  overflow: hidden;
}

.leftDiv, .rightDiv, #floor0 {
  text-align: center;
}

#restaurant, #lounge, #reception, #coatroom, #entrance{
  border: 1px solid black;
  width: 40%;

  overflow: scroll;
  text-align: center;

}

#lounge, #coatroom{
  float: right;
}

#coatroom{
  top: 57%;
  right: 29%;
}


.leftDiv, .rightDiv {
  float: left;
  width: 50%;
}

.leftDiv{
  padding-right: 7%;
}

.rightDiv{
  padding-left: 7%;
}

.leftDiv > div, .rightDiv > div {
  border: 1px solid black;
  width: 100%;

}

.hoverable{
  height: 100%;
}

main{
  margin-top: 0 !important;
}

homeHeader{
  margin-bottom: 0;
}

.home{
  background-color: $container-color;
}

.fa{
  color: $blue-color;
}

@media (max-width: 375px) {

  #titleDiv {
    width: 70%;
    margin-top: 50%;

  }

  h4{
    font-size: 60% !important;
  }

  .col-md-10 {
    padding-bottom: 20%;
  }

  li{
    display: none;
  }

  h5{
    margin: 0% !important;
  }



}






/*@media (max-width: 414px) {

  .prev, .next{
    margin-top: 40%;
  }

  #floor0{
    width: 70%;
  }
}

@media (min-width : 375px) and (max-width : 414px){

}

@media (min-width : 1112px) and (max-width : 1920px) {

  #floor0{
    width: 50%;
  }

  #restaurant, #lounge, #reception, #coatroom, #entrance {
    height: 80px;
  }

  .leftDiv > div, .rightDiv > div {
    height: 80px;
  }
}*/

