
.container {
    position: relative;
    text-align: center;
    color: black;
}

#planImage{
    padding: 23% 23%;
    /*display: inline-block;*/
    background: url("../../../res/plan_floor.png") no-repeat;
    background-size: contain;
}

.top-left {
    position: absolute;
    top: 11%;
    left: 35%;
}

.top-right {
    position: absolute;
    top: 13%;
    right: 30%;
}

.centered-left {
    position: absolute;
    top: 45%;
    left: 33%;
    transform: translate(-50%, -50%);
}

.centered-right {
    position: absolute;
    top: 45%;
    left: 64%;
    transform: translate(50%, 50%);
}

.bottom-center {
    position: absolute;
    bottom: 5%;
    left: 48%;
}

