<form (ngSubmit)="onSubmit()">

  <label for="roomNumber">Room Number</label>
  <select id="roomNumber" [(ngModel)]="customer.roomNumber" name="roomNumber" >
    <option *ngFor="let room of roomsNumber" [ngValue]=room  > {{room}} </option>
  </select>
  <br>

  <label for="bookingName">Booking Name</label>
  <input type="text" id="bookingName" placeholder="Booking Name" name="bookingName" [(ngModel)]="customer.bookingName"><br>

  <label for="bookinkSurname">Booking Surname</label>
  <input type="text" id="bookinkSurname" placeholder="Booking Surname" name="bookingSurname"
         [(ngModel)]="customer.bookingSurname"><br>

  <label for="username">Username</label>
  <input type="text" id="username" placeholder="Username" name="username" [(ngModel)]="customer.username"><br>

  <label for="password">Password</label>
  <input type="text" id="password" placeholder="Password" name="password" [(ngModel)]="customer.password"><br>

  <label for="confirmPassword" >Confirm password</label>
  <input type="text" id="confirmPassword" placeholder="Confirm password" name="confirmPassword" [(ngModel)]="confirmPassword"><br>


  <p for="peopleInRoom"> Number of people in room: {{peopleNumber}}</p>

  <label for="otherNeeds">Other Needs</label>
  <textarea id="otherNeeds" name="otherNeeds" [(ngModel)]="customer.otherNeeds"></textarea><br>

  <button type="submit">Submit</button>
</form>
