@import "../../styles.scss";


#FormDiv{
    //width: 100%;
  background-color: white;
}

h3 {
  font-family: 'myFont', serif;
  padding: 2%;
}

.form{
    display: flex;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 4%;
}

.mat-form-field {
    flex-grow: 1;
}

#otherNeeds {
  margin-top: 1%;
}

#ButtDiv {
  text-align: right;
}
