
<div class="container">

  <div class="card mat-elevation-z8" [hidden]="submitted">
    <div class="card-header">
      Registration
    </div>

    <div class="card-body">
      <app-error></app-error>
      <form class="mat-dialog-content" #addCustomerForm="ngForm">

        <div class="md-form">
          <mdb-form-field color="accent">
            <mat-select id="roomNumber" [(ngModel)]="customer.roomNumber" name="roomNumber" #roomNumber="ngModel" placeholder="Room number" required>
              <mat-option *ngFor="let number of roomsNumber" [value]=number required> {{number}} </mat-option>
            </mat-select>
            <div [hidden]="roomNumber.valid || roomNumber.pristine"
                 class="alert alert-danger">
              Room number is required
            </div>
          </mdb-form-field>
        </div>

        <div class="md-form">
          <mdb-form-field color="accent">
            <label for="bookingName">Customer's booking name</label>
            <input #input type="text" class="form-control" id="bookingName" placeholder="Customer's booking name"
                   required
                   [(ngModel)]="customer.bookingName" name="bookingName" #bookingName="ngModel">
            <div [hidden]="bookingName.valid || bookingName.pristine"
                 class="alert alert-danger">
              Booking Name is required
            </div>
          </mdb-form-field>
        </div>

        <div class="md-form">
          <mdb-form-field color="accent">
            <label for="bookingSurname">Customer's booking surname</label>
            <input #input type="text" class="form-control" id="bookingSurname" placeholder="Customer's booking surname"
                   required
                   [(ngModel)]="customer.bookingSurname" name="bookingSurname" #bookingSurname="ngModel">
            <div [hidden]="bookingSurname.valid || bookingSurname.pristine"
                 class="alert alert-danger">
              Booking Surname is required
            </div>
          </mdb-form-field>
        </div>

        <div class="md-form">
          <mdb-form-field color="accent">
            <label for="username">Customer's username</label>

            <input #input type="text" class="form-control" id="username" placeholder="Customer's username"
                   required [(ngModel)]="customer.username" name="username" #username="ngModel">
            <div [hidden]="username.valid || username.pristine"
                 class="alert alert-danger">
              The customer username is required
            </div>
          </mdb-form-field>
        </div>

        <div class="md-form">
          <mdb-form-field color="accent">
            <label for="password">Customer's password</label>

            <input #input type="password" class="form-control" id="password" placeholder="Password"
                   required
                   [(ngModel)]="customer.password" name="password" #password="ngModel">
            <div [hidden]="password.valid || password.pristine"
                 class="alert alert-danger">
              The password is required
            </div>
          </mdb-form-field>
        </div>

        <div class="md-form">
          <mdb-form-field color="accent">
            <label for="confirmPassword">Confirm password</label>

            <input style=": none" #input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password"
                   required
                   [(ngModel)]="confirmPassword" name="checkPassword" #checkPassword="ngModel">
            <div [hidden]="checkPassword.valid || checkPassword.pristine"
                 class="alert alert-danger">
              The confirmation password is required
            </div>
          </mdb-form-field>
        </div>

        <div class="md-form">
          <mdb-form-field color="accent">
            <label for="numberOfPeople">Number of people in the room</label>

            <input #input type="number" class="form-control" id="numberOfPeople"
                   placeholder="Number of people in the room"
                   min="1"
                   required
                   [(ngModel)]="customer.numberOfPeople" name="numberOfPeople" #numberOfPeople="ngModel">
            <div [hidden]="numberOfPeople.valid || numberOfPeople.pristine"
                 class="alert alert-danger">
              The number of people in the room is required
            </div>
          </mdb-form-field>
        </div>

        Other needs:
        <mat-list>
          <mat-list-item *ngFor="let need of customerNeeds">
            <button class="clear" type="button" (click)="removeNeed(need)" aria-label="remove need"><span class="material-icons">clear</span></button>
            {{need}}
          </mat-list-item>
        </mat-list>

        <div class="md-form d-flex bd-highlight">
          <mdb-form-field color="accent" class="p-2 flex-grow-1 bd-highlight">
            <label for="otherNeeds">Other needs</label>
            <input #input type="text" id='otherNeeds' name="need" [(ngModel)]="need" (keyup.enter)="addNeed()"
                   placeholder="Other needs (p.e. disability types, number of children and/or pets, if present)"
                 />
          </mdb-form-field>

          <button mat-button type="button" (click)="addNeed()" aria-label="Add"><span
            class="material-icons p-2 bd-highlight">add</span></button>
        </div>



        <div class="btn-group btn-group-sm d-flex flex-row-reverse">
          <button type="button" class="btn px-5 px-3 ml-4 mt-4" (click)="addCustomer()" aria-label="Save" [disabled]="!addCustomerForm.form.valid">Save</button>
          <button type="button" class="btn px-5 py-3 ml-4 mt-4" (click)="goBack()" aria-label="Back">Back</button>
        </div>




      </form>
    </div>

  </div>
</div>

