<div [hidden]="!isCustomerLoggedIn" >
    <a id="profileLink" (click)="goToProfile()">{{customer?.bookingName}} {{customer?.bookingSurname}}</a>
    <!--<button id="profileButton" alt="The profile icon" (click)="profile()"></button>-->
    <button>
    <i class="material-icons">account_circle</i>
    </button>
    <button class="btn-large btn-submit" type="submit" (click)="logout()">Logout</button>
</div>

<div [hidden]="isCustomerLoggedIn">
    <button class="btn-large btn-submit" type="submit" (click)="goToLogin()">Login</button>
</div>