<div [hidden]="!isCustomerLoggedIn" id="navDiv">
  <!--<button id="profileButton" alt="The profile icon" (click)="profile()"></button>-->
  <button mat-button (click)="goToProfile()">
    <a id="profileLink" (click)="goToProfile()">{{customer?.bookingName}} {{customer?.bookingSurname}}   </a>
    <mat-icon aria-label="Profile">person</mat-icon>
  </button>

    <br>
    <button mat-button class="btn-large btn-submit" (click)="logout()">
      Logout
      <mat-icon aria-label="Profile">logout</mat-icon>
    </button>
</div>

<div [hidden]="isCustomerLoggedIn">
  <button mat-button class="btn-large btn-submit" (click)="goToLogin()">Login</button>
</div>
