<ul class="navbar-nav nav-flex-icons">

  <li class="nav-item" *ngIf="isLoggedIn()">
    <a  class="nav-link" (click)="goToProfile()">
      {{customer?.bookingName}} {{customer?.bookingSurname}}
      <i class="fa fa-user" aria-label="Profile"></i>
    </a>
  </li>

<!--  <li class="nav-item" *ngif="!isLoggedIn()" >
    <a  class="nav-link" (click)="login()">Login
      <i class="fa fa-sign-in" aria-label="login"></i>
    </a>
  </li>-->

  <li class="nav-item" *ngIf="isLoggedIn()">
    <a  class="nav-link" (click)="logout()">
      Logout
      <i class="fa fa-sign-out" aria-label="logout"></i>
    </a>
  </li>
</ul>

