<div class="container">
  <h3 mat-dialog-title>You are updating quantity to 0, Are you sure?</h3>
  <div mat-dialog-content>
    <p>Code: {{data.code}}</p>

    <p>Name: {{data.name}}</p>

    <p>Category: {{data.category}}</p>

    <p>Quantity: {{data.quantity}}</p>

    <p>Unit: {{data.unit}}</p>

    <mat-checkbox [(ngModel)]="isDeleteSelected" [checked]="isDeleteSelected">Also remove from db</mat-checkbox>
  </div>

  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="1" (click)="confirmDelete()">Delete</button>
    <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
  </div>
</div>