<div class="container">
  <h3 mat-dialog-title>You are updating quantity to 0, are you sure?</h3>
  <div mat-dialog-content>
    <p>Code: {{data.code}}</p>

    <p>Name: {{data.name}}</p>

    <p>Category: {{data.category}}</p>

    <p>Quantity: {{data.quantity}}</p>

    <p>Unit: {{data.unit}}</p>

    <mat-checkbox [(ngModel)]="isDeleteSelected" [checked]="isDeleteSelected">Delete definitively</mat-checkbox>
  </div>


  <div class="btn-group btn-group-sm d-flex flex-row-reverse">
    <button type="button" class="btn px-5 py-3 ml-4 mt-4 default-theme my-theme"
            [ngStyle]="themingService.myCustomTheme"
            (click)="confirmDelete()" [mat-dialog-close]="1" >Delete</button>
    <button  type="button" class="btn px-5 px-3 ml-4 mt-4 default-theme my-theme"
             [ngStyle]="themingService.myCustomTheme"
             (click)="onNoClick()" aria-label="Back" tabindex="-1" >Back</button>
  </div>

</div>
