<div class="container" (click)="resetSuccess()">

  <div class="card mat-elevation-z8 text-center">
    <div class="card-header">
      New Menu
    </div>

    <h1 class="hidden">New Menu</h1>

    <div class="card-body">

      <app-message></app-message>

      <div class="container">
        <div class="card text-center dishForm">

          <h2>Select menu date</h2>

          <form class="mat-dialog-content" #addCustomerForm="ngForm">

            <div class="md-form">
                <label for="selectDate">select menu date</label>
                <input type="date" id="selectDate" [(ngModel)]="date" name="date" (keyup)="setDateMenu($event)">
            </div>
          </form>
        </div>
      </div>

      <app-add-dishes></app-add-dishes>

      <div id="buttonsDiv">
        <button type="button" class="btn px-5 py-3 ml-4 mt-4" (click)="goBack()" aria-label="Back">Back</button>
        <button type="button" class="btn px-5 py-3 ml-4 mt-4" (click)="deleteMenu()" aria-label="Delete">Delete</button>
        <button type="button" class="btn px-5 py-3 ml-4 mt-4" (click)="saveMenu()" aria-label="Save">Save</button>
      </div>

      <div [hidden]="!isDateWrong"
           class="alert alert-danger">
        Insert a date menu valid
      </div>

    </div>
  </div>
</div>
