<div class="w3-row" id="backgroundDiv">

  <div class="w3-col l3 m0 s0 w3-center">&nbsp;</div>

  <div class="w3-col l6 m12 s12 w3-center centered">

    <div class="container mat-elevation-z8" [hidden]="error">

      <h3>New menu</h3>

      <!--
      <span> Select menu date
      <input type="date" [(ngModel)]="date" (keyup)="setDateMenu($event)"/>
      </span><br>
      -->

      <div class="form">
        <mat-form-field color="accent">
          <label for="selectDate">select menu date</label>
          <input type="date" id="selectDate" matInput placeholder="Select menu date" [(ngModel)]="date" name="date"
                 (keyup)="setDateMenu($event)">
        </mat-form-field>
      </div>

      <!--<button>Fill in the fields with a saved menu</button><br>
      <button>Save</button><br>-->

      <app-add-dishes></app-add-dishes>

      <div id="buttonsDiv">
        <button mat-button (click)="goBack()">Back</button>
        <button mat-button (click)="deleteMenu()">Delete</button>
        <button mat-button (click)="saveMenu()">Save</button>
      </div>

      <div [hidden]="!isDateWrong"
           class="alert alert-danger">
        Insert a date menu valid
      </div>

    </div>
  </div>

  <div class="w3-col l3 m0 s0 w3-center">&nbsp;</div>

</div>
