<div *ngIf="customer">
  <h2>Room {{customer.roomNumber | uppercase}} Details</h2>
  <div><span>Room Number: </span>{{customer.roomNumber}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="customer.name" placeholder="name"/>
    </label>

    <label>Booking Name:
      <input [(ngModel)]="customer.bookingName" placeholder="Booking Name"/>
    </label>

    <label>Booking Surname:
      <input [(ngModel)]="customer.bookingSurname" placeholder="Booking Surname"/>
    </label>

    <label>Username:
      <input [(ngModel)]="customer.username" placeholder="Username"/>
    </label>

    <div><span>Number of people in the room: </span>{{customer.numberOfPeople}}</div>

    <div>
      <label>Other needs:
          <input #otherNeeds />
      </label>
      <!-- (click) passes input value to add() and then clears the input; -->
      <button (click)="add(otherNeeds.value); otherNeeds.value=''">
          add
      </button>
    </div>

    <ul class="otherNeeds">
      <li *ngFor="let need of otherNeeds">
          <a routerLink="/detail/{{need.id}}">
              <span class="badge">{{need.id}}</span> {{need.name}}
          </a>
          <button class="delete" title="delete need"
                  (click)="delete(need)">x</button>
      </li>
    </ul>

  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>