<div class="container">
  <div class="card text-center dishForm">

    <h3>Lunch</h3>

    <ul class="list-group list-group-flush text-left">
      <li class="list-group-item" *ngFor="let dish of menu.menu.lunch_dishes">
        <button type="button" class="btn btn-sm btn-link" (click)="deleteLunchDish(dish)">
          <i class="fa fa-times" aria-label="delete dish"></i> </button>
        {{dish}}
      </li>
    </ul>

    <div class="md-form">
      <mdb-form-field color="accent">
        <mat-select id="commonLunchDishes" name="commonLunchDishes" placeholder="Common Lunch dishes" [(ngModel)]="dish">
          <mat-option *ngFor="let dish of commonDishes" [value]=dish (click)="addLunchDish()" > {{dish}} </mat-option>
        </mat-select>
      </mdb-form-field>
    </div>


    <div class="input-group mb-3">
      <label for="LunchDish">Dish</label>
      <input class="form-control" id="LunchDish" #inputLunch type="text" name="dish" (keyup)="composeDish($event)"
             placeholder="Dish" aria-label="Dish name" aria-describedby="basic-addon2" (keyup.enter)="addLunchDish()">
      <div class="input-group-append">
        <button type="button" class="btn btn-flat btn-lg" (click)="addLunchDish()"><i class="fa fa-plus" aria-hidden="true"></i></button>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="card text-center dishForm">

    <h3>Dinner</h3>

    <ul class="list-group list-group-flush text-left">
      <li class="list-group-item" *ngFor="let dish of menu.menu.dinner_dishes">
        <button type="button" class="btn btn-sm btn-link" (click)="deleteDinnerDish(dish)">
          <i class="fa fa-times" aria-label="delete dish"></i> </button>
        {{dish}}
      </li>
    </ul>

    <div class="md-form">
      <mdb-form-field color="accent">
        <mat-select id="commonDinnerDishes" name="commonDinnerDishes" placeholder="Common dinner dishes" [(ngModel)]="dish">
          <mat-option *ngFor="let dish of commonDishes" [value]=dish (click)="addDinnerDish()" > {{dish}} </mat-option>
        </mat-select>
      </mdb-form-field>
    </div>

    <div class="input-group mb-3">
      <label for="DinnerDish">Dish</label>
      <input class="form-control" id="DinnerDish" #inputLunch type="text" name="dish" (keyup)="composeDish($event)"
             placeholder="Dish" aria-label="Dish name" aria-describedby="basic-addon2" (keyup.enter)="addDinnerDish()">
      <div class="input-group-append">
        <button type="button" class="btn btn-flat btn-lg" (click)="addDinnerDish()"><i class="fa fa-plus" aria-hidden="true"></i></button>
      </div>
    </div>

  </div>
</div>
