@import "../../../styles.scss";
div {
  padding: 1%;
}

#lunchinput, #dinnerinput {
  padding: 0 34% 0 34%;
}

h3 {
  font-family: myFont;
  font-weight: bold;
}

::ng-deep .mat-select{


  text-align: left;
}

.dishDiv{
  padding: 0 27% 0 27%;
}

.dish{
  text-align: left;
}
