<!--
<input matInput type="text" (keyup)="composeDish($event)"/><br>
-->

<div class="w3-row">

  <div class="w3-col l12 m12 s12 w3-center">
    <h3>Lunch</h3>
  </div>
</div>

<div class="w3-row">
  <div class="w3-col l12 m12 s12 w3-center">

    <div class="dishDiv">
      <div *ngFor="let dish of menu.menu.lunch_dishes" style="background-color: red" class="dish">
        <button mat-button (click)="deleteLunchDish(dish)"><i class="material-icons prefix">clear</i> </button> {{dish}}
      </div>
    </div>

  </div>
</div>


<div class="w3-row">
  <div class="w3-col l12 m12 s12 w3-center">


    <div class="form" id="lunchinput">
      <mat-select id="commonLunchDishes" name="commonLunchDishes" placeholder="Common lunch dishes" [(ngModel)]="dish">
        <mat-option *ngFor="let dish of commonLunchDishes" [value]=dish (click)="addLunchDish()" > {{dish}} </mat-option>
      </mat-select>

      <mat-form-field color="accent" (keyup.enter)="addLunchDish()">
        <input matInput #inputLunch type="text" name="dish" (keyup)="composeDish($event)" placeholder="Dish" />
      </mat-form-field>

      <button mat-button type="button" (click)="addLunchDish()"><i class="material-icons">add</i></button>
    </div>


  </div>
</div>



<div class="w3-row">

  <div class="w3-col l12 m12 s12 w3-center">
    <h3>Dinner</h3>
  </div>
</div>

<div class="w3-row">
  <div class="w3-col l12 m12 s12 w3-center">
    <div class="dishDiv">
      <div *ngFor="let dish of menu.menu.dinner_dishes" class="dish">
        <button mat-button (click)="deleteDinnerDish(dish)"><i class="material-icons prefix">clear</i> </button> {{dish}}
      </div>
    </div>
  </div>
</div>


<div class="w3-row">
  <div class="w3-col l12 m12 s12 w3-center">

    <div class="form" id="dinnerinput">
      <mat-select id="commonDinnerDishes" name="commonDinnerDishes" placeholder="Common dinner dishes" [(ngModel)]="dish">
        <mat-option *ngFor="let dish of commonDinnerDishes" [value]=dish (click)="addDinnerDish()" > {{dish}} </mat-option>
      </mat-select>

      <mat-form-field color="accent" (keyup.enter)="addDinnerDish()">
        <input matInput #inputDinner name="dish" (keyup)="composeDish($event)" placeholder="Dish" />
      </mat-form-field>

      <button mat-button type="button" (click)="addDinnerDish()"><i class="material-icons">add</i></button>
    </div>
  </div>
</div>
