@import "../../styles.scss";

#backgroundDiv {
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/login/background.png");

}

#formDiv {
  padding: 2%;
  background-color: $main-color;
}

#buttDiv
{
  margin-top: 5%;
  text-align: right;
}




