@import "../../styles.scss";

#backgroundDiv {
  height: 100vh;
  width: auto;
  background-image: url("../../assets/login/background.png");
  overflow: auto;
}

#formDiv {
  padding: 2%;
  background-color: $main-color;
}

#buttDiv {
  margin-top: 5%;
  text-align: right;
}

#loginDiv {
  margin-top: 20%;
}


