<div class="w3-row"  id="backgroundDiv">

  <app-error></app-error>

  <div [hidden]="isCustomerLoggedIn" id="loginDiv" >
    <form #loginForm="ngForm" class="col-s12-white">

      <div class="w3-row">

        <div class="w3-col l4 m1 s0 w3-center">&nbsp;</div>

        <div class="w3-col l4 m10 s12 w3-center centered" id="formDiv">

          <div class="form-group" >
            <div class="input-field-col-s12">
              <label for="username">Username</label>

              <span id="material-icons-prefix-user" class="material-icons prefix">account_circle</span>
              <input type="text" id="username" #UserName [(ngModel)]="username" name="UserName" placeholder="Username" aria-label="username" required>
            </div>
          </div>
          <div class="form-group">
            <div class="input-field-col-s12">
              <label for="password">Password</label>

              <span id="material-icons-prefix-pass" class="material-icons prefix">vpn_key</span>
              <input type="password" id="password" #Password [(ngModel)]="password" name="Password" placeholder="Password" aria-label="username" required>
            </div>
          </div>

          <div class="form-group" >
            <div class="input-field-col-s12" id="buttDiv">
              <button mat-button [disabled]="!loginForm.valid" class="btn-large btn-submit" id="loginButton" type="submit" (click)="login()">Login</button>
              <br>
              <button mat-button [disabled]="loginForm.valid" class="btn-large btn-submit" id="registrationButton" type="button" (click)="navigateToRegistration()">Registration</button>
            </div>

          </div>
        </div>

        <div class="w3-col l4 m1 s0 w3-center">&nbsp;</div>

      </div>
    </form>
  </div>

</div>


