@import "../../styles.scss";

#backgroundDiv {
  background-size: cover;
  height: 90vh;
  width: auto;
  background-image: url("../../assets/login/background.png");
}

#formDiv {
  padding: 2%;
  background-color: $main-color;
}

#buttDiv {
  margin-top: 5%;
}

#loginDiv {
  margin-top: 20%;
}

input{
  margin-top: 5%;
}

