<button type="button">Logout</button>
<img src="">
<p>Restaurant</p>

<button>
  <span >Print <i class='material-icons'>print</i></span>
</button>

<button (click)="goToMakeMenu()">
  <span >New Menu <i class='material-icons'>add_circle</i></span>
</button>

<button>
  <span (click)="goToMakeVariation()">New Variation <i class='material-icons'>autorenew</i></span>
</button>

<app-nav></app-nav>

<table summary="Statistics for lunch">
  <caption>See statistics for lunch</caption>
  <tr>
    <th>Lunch</th>
    <th scope="col">Int</th>
    <th scope="col">1/2</th>
  </tr>

  <tr *ngFor="let lunch of lunchDishes">
    <td scope="row">{{lunch}}</td>
    <td>0</td>
    <td>0</td>
  </tr>
</table>

<table summary="Statistics for dinner">
  <caption>See statistics for dinner</caption>
  <tr>
    <th>Dinner</th>
    <th scope="col">Int</th>
    <th scope="col">1/2</th>
  </tr>

  <tr *ngFor="let dinner of dinnerDishes">
    <td scope="row">{{dinner}}</td>
    <td>0</td>
    <td>0</td>
  </tr>
</table>


<p>Other notes</p><br>
<textarea></textarea><br><br>
<button type="button" (click)="goToHome()">Ok</button>


