<app-header></app-header>
<button type="button">Logout</button>
<img src="">
<p>Restaurant</p>

<img src="">
<p>Print</p><br>

<img src="">
<p>Insert menu</p><br>

<img src="">
<p>Insert variations</p>

<app-nav></app-nav>

<table summary="Statistics for lunch">
  <caption>See statistics for lunch</caption>
  <tr>
    <th>Lunch</th>
    <th scope="col">Int</th>
    <th scope="col">1/2</th>
  </tr>

  <tr *ngFor="let lunch of lunchDishes">
    <td scope="row">{{lunch}}</td>
    <td>0</td>
    <td>0</td>
  </tr>
</table>

<table summary="Statistics for dinner">
  <caption>See statistics for dinner</caption>
  <tr>
    <th>Dinner</th>
    <th scope="col">Int</th>
    <th scope="col">1/2</th>
  </tr>

  <tr *ngFor="let dinner of dinnerDishes">
    <td scope="row">{{dinner}}</td>
    <td>0</td>
    <td>0</td>
  </tr>
</table>


<p>Other notes</p><br>
<textarea></textarea><br><br>
<button type="button" (click)="goToHome()">Ok</button>

<app-footer></app-footer>

