@import "../../styles.scss";

.navbar {
  padding-left: 15%;
  padding-right: 15%;
}

button.navbar-toggler{
  float: right;
}

.nav-item, .accessibility {
  color: white;
}

span:hover {
  cursor: pointer;
}
