@import "../../styles.scss";

.lightBlue {
  background-color: $default-background-color;
}

.navbar {
  padding-left: 15%;
  padding-right: 15%;
}

button.navbar-toggler{
  float: right;
}

.nav-item, .accessibility {
  font-size: 100%;
  color: white;
}

span:hover {
  cursor: pointer;
}
