@import "../../styles.scss";

.lightBlue {
  background-color: $blue-color;
}

.navbar {
  padding-left: 15%;
  padding-right: 15%;
}

button.navbar-toggler{
  float: right;
}

.nav-item {
  font-size: 120%;
}
