<app-profile></app-profile>

<div>
  <form>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search..">
    </mat-form-field>
  </form>

  <app-barcode-scanner></app-barcode-scanner>
</div>

<div class="product" *ngIf="dataSource">
  <i class="material-icons">view_list</i>
  Food available in pantry

  <mat-table #table matSort="sort" class="pantry-table mat-elevation-z8" [dataSource]="dataSource">

    <ng-container matColumnDef="code">
      <mat-header-cell *matHeaderCellDef> Code </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.quantity}} {{element.unit}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let element; columns: displayedColumns;" (click) = "rowClicked(element)"
             [routerLink]="['/pantry', element.code]"></mat-row>
  </mat-table>

  <mat-paginator [length]="5" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]">
  </mat-paginator>

</div>

<div [hidden]="!error"
     class="alert alert-danger">
  {{error}}
</div>
