/* Structure */
.container {
    display: flex;
    flex-direction: column;
}

/* Toolbar */
.spacer {
    flex: 1 1 auto;
}

h3 {
  font-size: 200%;
  font-family: myFont;
  margin: 5%
}

/* Filter */
.form {
    min-height: 56px;
    max-height: 56px;
    display: flex;
    align-items: center;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
    border-bottom: 1px solid transparent;
}

.mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-top: 8px;
}

/* Mat table */
.no-results {
    display: flex;
    justify-content: center;
    padding: 14px;
    font-size: 14px;
    font-style: italic;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1){
    flex: 0 0 25%;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2){
    flex: 0 0 25%;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3){
    flex: 0 0 25%;
}

.mat-cell:nth-child(7),
.mat-header-cell:nth-child(7){
    flex: 0 0 7%;
}




/* By default, the mobile label shouldn't show */
.mobile-label {
    display: none;
}

.add-product-small {
  display: none;
}

/deep/ .mat-tooltip {
  font-size: 80%;
}

@media(max-width: 600px) {
/*Custom header label that shows in each column, with a set width and bold font*/
.add-product-small {
  display: flex;
}

.mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
}

/*Remove the header row altogether*/
   .mat-header-row {
       display: none;
   }

/* The row cells should display as a column, justified left, with a bit of extra padding*/
.mat-row {
       flex-direction: column;
       align-items: start;
       padding: 8px 24px;
   }

mat-cell:first-child, mat-footer-cell:first-child, mat-header-cell:first-child {
    padding-left: 0;
}

}

