<div class="container default-theme" [ngStyle]="themingService.myCustomTheme">
  <div class="card mat-elevation-z8 mx-auto d-block">
    <div class="card-header default-theme my-theme" [ngStyle]="themingService.myCustomTheme">
      Choose Menu
    </div>

    <h1 class="hidden">Choose menu</h1>

    <div class="card-body">

      <app-message *ngIf="messageService.success || messageService.error"></app-message>

      <form class="mat-dialog-content" #addCustomerForm="ngForm" *ngIf="!messageService.error">

        <div class="btn-group btn-group-sm d-flex justify-content-center">
          <button type="button" class="default-theme my-theme btn px-5 py-3 mb-2"
                  [ngStyle]="themingService.myCustomTheme"
                  aria-label="Choose Dinenr" (click)="changeLunchCardState()" *ngIf="lunchCardState">
            Close Lunch
          </button>

          <button type="button" class="default-theme my-theme btn px-5 py-3 mb-2"
                  [ngStyle]="themingService.myCustomTheme"
                  aria-label="Choose Dinenr" (click)="!changeLunchCardState()" *ngIf="!lunchCardState">
            Click to choose Lunch
          </button>
        </div>

        <div *ngIf="lunchCardState">
          <div class="card my-3">
            <div class="card-body">
              <div  class="alert alert-danger" role="alert" *ngIf="isReservationValid">
                {{reservationError}}
              </div>

              <table class="table" summary="The courses you can select for lunch">

                <caption class="contrast">
                  <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Choose max 2 dishes for each person">
                    Lunch
                    <i class="fa fa-info-circle"></i>
                  </span>
                </caption>

                <thead>
                <tr>
                  <th scope="col">Dish</th>
                  <th scope="col">Whole Portion</th>
                  <th scope="col">Half Portion</th>
                </tr>
                </thead>

                <tr *ngFor="let dish of menu.menu.lunch_dishes">
                  <td scope="row">{{dish}}</td>

                  <td>
                    <mdb-form-field color="accent">
                      <mat-select placeholder={{getRes(l,dish)}}>
                        <mat-option *ngFor="let n of people" value=n (click)="setReservation(l, dish, n)">
                          {{n}}
                        </mat-option>
                      </mat-select>
                    </mdb-form-field>

                    <button type="button" class="default-theme my-theme btn px-2 py-2 mb-2"
                            [ngStyle]="themingService.myCustomTheme"
                            aria-label="Add Variation"  (click)="addVariations(dish, l)">
                      <i class="fa fa-plus"></i> Add Variation
                    </button>
                  </td>

                  <td>
                    <mdb-form-field color="accent">
                      <mat-select placeholder={{getRes(hl,dish)}}>
                        <mat-option *ngFor="let n of people" value=n (click)="setReservation(hl, dish, n)">
                          {{n}}
                        </mat-option>
                      </mat-select>
                    </mdb-form-field>

                    <button type="button" class="default-theme my-theme btn px-2 py-2 mb-2"
                            [ngStyle]="themingService.myCustomTheme"
                            aria-label="Add Variation"  (click)="addVariations(dish, hl)">
                      <i class="fa fa-plus"></i> Add Variation
                    </button>
                  </td>

                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="btn-group btn-group-sm d-flex justify-content-center">
          <button type="button" class="default-theme my-theme btn px-5 py-3 mb-2 mt-2"
                  [ngStyle]="themingService.myCustomTheme" aria-label="Choose Dinenr"
                  (click)="!changeDinnerCardState()" *ngIf="!dinnerCardState"
                  onclick="changeDinnerCardState()">
            Click to choose Dinner
          </button>

          <button type="button" class="default-theme my-theme btn px-5 py-3 mb-2 mt-2"
                  [ngStyle]="themingService.myCustomTheme" aria-label="Choose Dinner"
                  (click)="changeDinnerCardState()" *ngIf="dinnerCardState"
                  onclick="changeDinnerCardState()">
            Close Dinner
          </button>
        </div>

        <div *ngIf="dinnerCardState">

          <div class="card my-3">

            <div class="card-body">
              <div  class="alert alert-danger" role="alert" *ngIf="isReservationValid">
                {{reservationError}}
              </div>

              <table class="table" summary="The courses you can select for dinner">
                <caption class="contrast">
                  <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Choose max 3 dishes for each person">
                    Dinner
                    <i class="fa fa-info-circle"></i>
                  </span>
                </caption>

                <!--

                  <caption class="contrast">
                    Dinner - <small>Choose max 3 dishes for each person</small>
                  </caption>

                -->

                <tr>
                  <th scope="col">Dish</th>
                  <th scope="col">Whole Portion</th>
                  <th scope="col">Half Portion</th>
                </tr>

                <tr *ngFor="let dish of menu.menu.dinner_dishes">
                  <td scope="row">{{dish}}</td>

                  <td>
                    <mdb-form-field color="accent">
                      <mat-select placeholder={{getRes(d,dish)}}>
                        <mat-option *ngFor="let n of people" value=n (click)="setReservation(d, dish, n)">
                          {{n}}
                        </mat-option>
                      </mat-select>
                    </mdb-form-field>

                    <button type="button" class="btn px-2 py-2 mb-2" aria-label="Add Variation"  (click)="addVariations(dish, d)">
                      <i class="fa fa-plus"></i> Add Variation
                    </button>
                  </td>

                  <td>
                    <mdb-form-field color="accent">
                      <mat-select placeholder={{getRes(hd,dish)}}>
                        <mat-option *ngFor="let n of people" value=n (click)="setReservation(hd, dish, n)">
                          {{n}}
                        </mat-option>
                      </mat-select>
                    </mdb-form-field>

                    <button type="button" class="btn px-2 py-2 mb-2" aria-label="Add Variation"  (click)="addVariations(dish, hd)">
                      <i class="fa fa-plus"></i> Add Variation
                    </button>
                  </td>

                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="card" [hidden]="messageService.error">
          <div class="card-body">

            <div>
              Other notes:<br>
              <p>{{getNote()}}</p>
            </div>

            <div class="md-form d-flex bd-highlight ">
              <mdb-form-field color="accent" class="p-2 flex-grow-1 bd-highlight">
                <label for="notes">Other notes</label>
                <input class="form-control" #inputNote type="text" id='notes' name="notes"
                       [(ngModel)]="note" placeholder='Insert your note'
                       (keyup.enter)="addNote()" />
              </mdb-form-field>

              <button mat-button type="button" (click)="addNote()" aria-label="Add"><span
                class="material-icons p-2 bd-highlight">add</span></button>
            </div>

          </div>

        </div>

        <div class="btn-group btn-group-sm d-flex flex-row-reverse">
          <button type="button" class="btn px-5 py-3 ml-4 mt-4" (click)="saveReservations()" aria-label="Save"
                  [disabled]="!addCustomerForm.form.valid || !isReservationValid">Save
          </button>
        </div>
      </form>

    </div>

  </div>
</div>

<app-menu-variations [ngStyle]="myStyle" id="mySidenav"></app-menu-variations>

