<app-profile></app-profile>
<table summary="The courses you can select for lunch" >
    <caption>Lunch</caption>
  <tr>
    <th></th>
    <th scope="col">Int</th>
    <th scope="col">1/2</th>
    <th scope="col">Variation</th>
  </tr>

  <mat-error *ngIf="checkLunchReservation()">{{getErrorMessage()}}</mat-error>
  <div *ngFor="let dish of lunch_dishes">
  <tr>
    <td scope="row">{{dish}}</td>
    <td>

     <mat-form-field color="accent" >
        <mat-select placeholder="0">
          <mat-option *ngFor="let n of people" value=n (click)="setLunch(lunch_dishes.indexOf(dish)*2, n)">
            {{n}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field color="accent">
        <mat-select placeholder="0">
          <mat-option *ngFor="let n of people" value=n (click)="setLunch(lunch_dishes.indexOf(dish)*2+1, n)">
            {{n}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button type="button" (click)="addVariations()">+</button>
    </td>
  </tr>
    </div>
</table>


<table summary="The courses you can select for dinner" >
  <caption>Dinner</caption>
  <tr>
    <th></th>
    <th scope="col">Int</th>
    <th scope="col">1/2</th>
    <th scope="col">Variation</th>
  </tr>

  <mat-error *ngIf="checkDinnerReservation()">{{getErrorMessage()}}</mat-error>
  <div *ngFor="let dish of dinner_dishes">
  <tr>
      <td scope="row"  >{{dish}}</td>
      <td>
        <mat-form-field color="accent" >
          <mat-select placeholder="0">
            <mat-option *ngFor="let n of people" value=n (click)="setDinner(dinner_dishes.indexOf(dish)*2, n)">
              {{n}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field color="accent">
          <mat-select placeholder="0">
            <mat-option *ngFor="let n of people" value=n (click)="setDinner(dinner_dishes.indexOf(dish)*2+1, n)">
              {{n}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </td>
    <td>
      <button type="button" (click)="addVariations()">+</button>
    </td>
  </tr>
  </div>

</table>


<p>Other notes</p><br>
<textarea></textarea><br><br>

<button type="button" [disabled]="checkSave()"  (click)="saveReservations()">Save</button>

<app-menu-variations *ngIf="menu.showVariations"></app-menu-variations>