@import '../../../styles.scss';

#saveButton:disabled{
    opacity: 0.3;
}

#variationDiv{
  padding: 5% 20% 20% 20%;
  background-color: white;
}

h3 {
  font-size: 200%;
  font-family: myFont;
}


#variation, #variationsAddedDiv{
  width: 90%;
}

#variationsAddedDiv{
  text-align: left;
}

#delButton{
  float: left;
}

#saveButton{
  margin-top: 5%;
  float: right;
}

label{
  font-size: 120%;
}

#labelDiv{
  text-align: left;
  padding-left: 10%;

}


