@import '../../../styles.scss';

#saveButton:disabled{
    opacity: 0.3;
}

#variationDiv{
  padding: 5% 20% 20% 20%;
  background-color: white;
}

#variation, #variationsAddedDiv{
  width: 90%;
}

#variationsAddedDiv{
  text-align: left;
}

#delButton{
  floa: left;
}

#saveButton{
  margin-top: 5%;
  float: right;
}

label{
  font-size: 120%;
}


