<app-profile></app-profile><br>

<form #addCustomerForm="ngForm">

    <div class="form-group">
        <label for="variation" >Insert Variations</label>
        <div *ngFor="let variation of variations">
            <p>{{variation}}</p>
        </div>
        <input id="variation" type="text" class="form-control" placeholder="Variation"
               required name="variation" [(ngModel)]="variation.type">
    </div>
        <button mat-button #button id="saveButton" (click)="addVariation(variation.type)" [disabled]="isInputInValid(variation.type)">
            <i class="material-icons">add</i>
        </button>

</form>