<div class="w3-row" id="backgroundDiv">

  <div class="w3-col l4 m12 s12 w3-left">&nbsp;</div>

  <div class="w3-col l4 m12 s12 w3-center centered container mat-elevation-z8">

    <button  mat-button *ngFor="let service of services" [disabled]="service.isEnabled == false" (click)="gotTo(service)">
      <i [hidden]="!isLoading" class='material-icons'>spinner</i>
      <span [hidden]="isLoading">{{service.name}} <i class='material-icons'>{{service.icon}}</i></span>
    </button>
  </div>

  <div class="w3-col l4 m12 s12 w3-right">&nbsp;</div>

</div>



